<ion-header>
  <ion-toolbar>
    <ion-title>salesUnits</ion-title>
    <ion-buttons slot="start">
      <ion-menu-button menu="main-menu"></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [scrollEvents]="true" (ionScroll)="onScroll($event)">

  
  <ion-list>
    <ion-label>
    </ion-label>
    <ion-item>
      <ion-input type="text" [(ngModel)]="salesobjet.libelle" maxlength="10" minlength="1" required placeholder="libelle"></ion-input>
      <ion-button (click)="save()" expand="block"  *ngIf="salesobjet.id==null">
        Save 
      </ion-button>
      <ion-button (click)="updateUnit()" expand="block"  *ngIf="salesobjet.id!=null">
        Edit
      </ion-button>
    </ion-item>
    </ion-list>

    <ion-searchbar
    showcancelbutton=""
    (ionInput)="filterList($event)"
  ></ion-searchbar>
  
<ion-list>
  <ion-item-sliding *ngFor="let item of unitList; let i=index">
    <ion-item (click)="loadSales(item.id)">
      <ion-label>
        {{item.libelle}}
      </ion-label>

    </ion-item>
  
    <ion-item-options side="end">
      <ion-item-option color="danger" (click)="delete(item.id)">
        <ion-icon slot="top" name="trash"></ion-icon>
        delete
      </ion-item-option>
    </ion-item-options>
  </ion-item-sliding>
</ion-list>
<ion-fab vertical="bottom" horizontal="end" slot="fixed" *ngIf="offsetTop >150 ">
  <ion-fab-button (click)="scrollTop()">
     <ion-icon name="arrow-up"></ion-icon>
  </ion-fab-button>
</ion-fab>
 

</ion-content>
