.myphoto {
    ion-content img {
    height: 30vh !important;
    width: auto !important;
    align-items: center;
    background-image: to-lower-case($string: "center");;;
    margin: auto;
    display: block;
    }
    }
    
 