<ion-header>
  <ion-toolbar>
    <ion-title>LOGIN</ion-title>

    </ion-toolbar>
    
  
</ion-header>
    <ion-content padding class="myphoto">
      
    
    <br>
    <ion-item>
     
      <ion-label position="floating" ></ion-label>
    
     
     <ion-input type="email" placeholder="E-mail" [(ngModel)]="userLogin.email"></ion-input>
     <ion-icon name="mail-outline" slot="end"></ion-icon>
    </ion-item>
    <ion-item>
      <ion-label position="floating" > </ion-label>
      <ion-input type="password" placeholder="password" [(ngModel)]="userLogin.password"></ion-input>
      <ion-icon name="lock-closed-outline" slot="end"></ion-icon>
    </ion-item>
    
   
  
    <ion-text color="dark">

      <ion-input type="text-center" placeholder="Forget password ?" align="center" style="color:gray;"></ion-input>
  </ion-text>
    <br>
    <br>
    <ion-button  (click)="login()" expand="block" style="width: 250px;margin: auto;" > login</ion-button>
    <br>
   
    
    </ion-content>
