<ion-header >
  <ion-toolbar color="primary" >
     <ion-button slot="end" fill="clear" (click)="presentActionSheet()">
       <ion-icon style="color:#fff" name="menu"></ion-icon>
     </ion-button>
     <ion-title>
      Shoffing
     </ion-title>
   </ion-toolbar>
 </ion-header>
 
 <ion-content>
   <br>
 <ion-searchbar></ion-searchbar>
<br>
<ion-input type="text-center" placeholder="Bienvenue dans note application" align="center" style="color:blue"></ion-input>
 </ion-content>

<ion-footer>
  <ion-toolbar>
 
   
  </ion-toolbar>

</ion-footer>