<ion-header >
  <ion-toolbar>
     <ion-button slot="start" fill="clear" (click)="presentActionSheet()">
       <ion-icon style="color:#000" name="menu"></ion-icon>
     </ion-button>
     <ion-title>
      Products
     </ion-title>
   </ion-toolbar>
 </ion-header>
 
 <ion-content>
   <br>
 <ion-searchbar></ion-searchbar>
 <ion-fab vertical="bottom" horizontal="end" slot="fixed" [routerLink]="'/add-product'">
  <ion-fab-button >
    <ion-icon name="add"></ion-icon>
  </ion-fab-button>
</ion-fab>
 </ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-footer>
      <ion-toolbar>
        <ion-grid>
          <ion-row>
            <ion-col size="6">
              <ion-button   expand="block">
                Products
              </ion-button>
            </ion-col>
    
            <ion-col size="6">
              <ion-button  [routerLink]="'/list-orders'" expand="block">
               Orders
              </ion-button>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-toolbar>
    </ion-footer>
   
  </ion-toolbar>

</ion-footer>