<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>

    <ion-title>Add sous categorie</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-list>
    <ion-item>
      <ion-input type="text" [(ngModel)]="souscategorie.name" placeholder="Name"></ion-input>
    </ion-item>
    
    <ion-item lines="none">
      <input type="file" [(ngModel)]="souscategorie.picture" (change)="chooseFile($event)" required>
    </ion-item>

</ion-list>

</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-button (click)="savecategorie()" expand="block">
      Save categorie
    </ion-button>
  </ion-toolbar>
</ion-footer>